/*所有产品html页，顶部位置栏布局*/
@import 'reset.css';
.alllocation{
	background: #abb1ba;
	height: 22px;
	margin: 0;
}
.alllocation ul{
	float: right;

}

.alllocation ul li{
	float: left;
	height: 25px;
	padding: 2px;
}
.alllocation ul li a:hover{
	color: #f40;
}

.allcontent img{
	width: 1000px;
	max-width: 1020px;
	margin: 0 auto;
	text-align: center;
}
.allcontent table{
	text-align: center;
}

.allcontent p{
	text-indent: 2em;
}
h2{
	font-size: 16px;
}
h3{
	font-size: 14px;
}
h4{
	font-size: 12px;
}



