/*第五类产品 车辆检测 产品页布局*/
@import 'reset.css';
@import 'alllocation.css';

/*车门压力检测仪产品页面布局*/
#cmyljc_html p{
	text-indent: 2em;
}
#cmyljc_html h1{
	font-size: 20px;
	text-align: center;
}
/*地铁通信检测试验平台产品页面布局*/
#dtjcsypt_html h4{
	font-size: 12px;
	text-indent: 2em;
}
#dtjcsypt_html table{
	width: auto;
	min-width: 900px;
	text-align: center;
}

