/*
定义公司简介 网页样式
*/
@import 'reset.css';
@import 'alllocation.css';

#company_html {
	width: 100%;
	height: 612px;
}
/*/图片布局**/
#company_html .company_picture {
   	width: 100%;
    height: 341px; 
    background-repeat: no-repeat;
    margin: 0px auto; 
    overflow: hidden;
}
#company_html .company_picture img{
   	width: 500px;
   	height: 390px;
}
/*文本介绍*/
#company_html .company_txt {
    background-image: url('../images/company_b.jpg');
}


#company_html .company_txt p{
   	margin: 1em;
   	text-indent: 2em;
   	font-size: 14px;

}
